nodered_flows.json
[
    {
        "id": "64f52903c284b545",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "30a7782ba04b1a60",
        "type": "ui_gauge",
        "z": "64f52903c284b545",
        "name": "",
        "group": "a7841362.ae40c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Data",
        "label": "deg C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "e6a00cc180f7067b",
        "type": "http request",
        "z": "64f52903c284b545",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.134.180/dht-temp",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 480,
        "wires": [
            [
                "30a7782ba04b1a60"
            ]
        ]
    },
    {
        "id": "691c4dc63f202da8",
        "type": "inject",
        "z": "64f52903c284b545",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "e6a00cc180f7067b"
            ]
        ]
    },
    {
        "id": "48feb7d8a567f7a7",
        "type": "ui_gauge",
        "z": "64f52903c284b545",
        "name": "",
        "group": "a7841362.ae40c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Data",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1040,
        "y": 420,
        "wires": []
    },
    {
        "id": "3392fb2a675e207b",
        "type": "http request",
        "z": "64f52903c284b545",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.134.180/dht-hum",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 420,
        "wires": [
            [
                "48feb7d8a567f7a7"
            ]
        ]
    },
    {
        "id": "60b07f05b391fec5",
        "type": "inject",
        "z": "64f52903c284b545",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 670,
        "y": 420,
        "wires": [
            [
                "3392fb2a675e207b"
            ]
        ]
    },
    {
        "id": "a7841362.ae40c",
        "type": "ui_group",
        "name": "My studio",
        "tab": "2ff36ff5.bdc628",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2ff36ff5.bdc628",
        "type": "ui_tab",
        "name": "Studio_control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]